@media print {
  #output, .inAndOutputWrapper, .OutputWrapper {
    display: block;
    width: 100%;
    padding-top: 25px;
  }
  .fieldsets, .fieldsetsWrapper, .InputWrapper, .nav, .resetlinks, h2.reset-link {
    display: none;
  }
}
