@import "fonts.css";


/* GENERAL LAYOUT */
body, html {
    font-family: Helvetica;
    font-style: normal;
    font-size: 1em;
  }

.body-flex {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

.nav a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}

a:hover {
  text-decoration: underline;
}

.nav {
    display: block;
    background-color: transparent;
    letter-spacing: 5px;
    font-size: 1.2em;
    flex: 0;
    margin-bottom: 20px;
}

.nav li {
  display: inline-block;
  padding: 20px;
}

.bodyWrapper {
  flex: 1;
  display: flex;
}

#controls {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.fieldsetsWrapper {
  font-size: 1.2em;
  line-height: 1.2em;
  padding-right: 20px;
  overflow: auto;
  border-collapse: collapse;
  border-left: 1px solid #272727;
}

.fieldsetsWrapper label {
  display: flex;
  padding-bottom: 0.5em;
  line-height: 1.3em;
}

@media (max-width: 1300px) {
  .bodyWrapper {
    font-size: 0.8em;
  }
}

.inAndOutputWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.InputWrapper, .OutputWrapper {
    flex: 1;
    outline: none;
    padding: 20px;
    padding-top: 0;
    padding-right: 40px;
    padding-bottom: 35px;
    font: inherit;
    line-height: 1.2em;
}

#output {
  word-wrap: break-word;
  font-size: 1.7em;
  line-height: 1.2em;
}

.InputWrapper {
  font-size: 1.7em;
  border: 0;
  border-right: 1px solid black;
}

.OutputWrapper {
  overflow: auto;
  padding-top: 20px;
  margin-top: -20px;
}

/*CONTROLS*/

.fieldsets h2 {
  text-transform: uppercase;
  padding: 10px 0 10px 50px;
  display: none;
}

div.font-links {
  margin-left: 20px;
}

h2.reset-link {
  padding-top: 0px;
  font-size: 1em;
  text-align: right;
  padding: 0;
  color: black;
  display: inline;
  text-transform: none;
}

.reset-link a {
  color: black;
  text-decoration: none;
}

.reset-link a:hover {
  text-decoration: underline;

}

.resetlinks {
    position: fixed;
    bottom: 0;
    color: black;
    background-color: rgba(255, 255, 255, 0.84);
    display: block;
    padding: 5px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

h2.font-title {
  padding-bottom: 0;
}

.fieldsets #fonts, .fieldsets #font-size {
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  margin: 0 0 0 20px;
  display: inline;
  font-size: 0.75em;
  outline: none;
  text-transform: none;
  text-decoration: underline;
}

fieldset div {
  line-height: 1.7em;
}

.select-wrapper {
    font-size: 1.4em;
    display: inline-block
}

.fieldsets {
  margin-left: 0.5em;
}

.fieldsets a {
  color: inherit;
  text-decoration: none;
  text-decoration: underline;
}

.fieldsets a:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.slider.hidden-slider, .varValueRadio.hidden-radio, label.slechteLetterHerkenning {
  display: none;
}

.hidden-checkbox {
  display: none;
}

.indice-span {
  width: 25px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.label-text {
  flex: 1;
}

.label-text > span:hover {
  border-bottom: 1px solid black;
}

.label-text:hover{
  cursor: pointer;
}

.hidden-checkbox:checked + label .label-text > span {
  border-bottom: 1px solid black;
}

input[type="radio"].slechteLetterHerkenning{
  margin-left: 50px;
}

/* RANGE SLIDER STYLES */

input[type=range] {
  padding: 10px 50px 15px 30px;
}
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
  outline: none;
}

/* SLIDER */
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #f1f1f1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid black;
  height: 7px;
  width: 7px;
  border-radius: 5px;
  background-color: #000000;
  cursor: pointer;
  margin-top: -3px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f1f1f1;
}


/* All the same stuff for Firefox */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #f1f1f1;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 6px;
  width: 6px;
  border-radius: 5px;
  background: #000000;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #f1f1f1;
  border-color: white;
  border-width: 1px 0;
  color: #f1f1f1;
}
input[type=range]::-ms-fill-lower {
  border: none;
}
input[type=range]::-ms-fill-upper {
  border: none;
}

input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 6px;
  width: 6px;
  border-radius: 5px;
  background: #000000;
  cursor: pointer;
}


/* TEXT-FIELDS */

.woord {
  display: inline-block;
}
